.main-gradient {
  background: rgb(145, 255, 246);
  background: radial-gradient(circle, rgba(145, 255, 246, 1) 0%, rgba(255, 255, 255, 1) 66%);
}

.right-gradient {
  background: rgb(145,255,246);
  background: radial-gradient(circle at right center, rgba(145,255,246,1) 0%, rgba(255,255,255,1) 40%);
}

.left-gradient {
  background: rgb(145,255,246);
  background: radial-gradient(circle at left center, rgba(145,255,246,1) 0%, rgba(255,255,255,1) 100%);
}

.dropdown-title {
  color: #00a895;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

.custom-bg {
  background-color: #00a895;
  padding: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: white;
  color: black;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: black;
}

.navlight {
  color: dimgray;
}

.pin-bottom-row {
  margin-top: auto;
}